:root {
    --primay-dark-desaturated-blue: hsl(238, 29%, 16%);
    --primay-soft-red: hsl(14, 88%, 65%);
    --primay-soft-violet: hsl(273, 75%, 66%);
    --primay-soft-blue: hsl(240, 73%, 65%);
    --neutral-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --neutral-dark-grayish-blue: hsl(240, 6%, 50%);
    --neutral-light-grayish-blue: hsl(240, 5%, 91%);
}

*:focus {
    outline:none
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

.container {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: calc(100% - 50px) 50px;
    grid-template-areas: "faq-accordion-card" "footer";
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to bottom, var(--primay-soft-violet),  var(--primay-soft-blue));
    width: 100vw;
    height: 100vh;
}

.content-faq_accordion_card {
    grid-area: faq-accordion-card;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "images" "faq-form";
    grid-template-rows: auto 1fr;
    justify-content: center;

    background-color: #FFF;
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.content-faq_accordion_form {
    grid-area: faq-form;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content-faq_accordion_form h1 {
    font-size: 30px;
    color: var(--primay-dark-desaturated-blue);
}

.content-faq_accordion_form article {
    width: 80%;
}

.content-faq_accordion_form article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion li {
    min-height: 36px;
    padding: 5px 0px;
    border-bottom: 1px solid var(--neutral-light-grayish-blue);
    cursor: pointer;
}

.accordion-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.accordion-question img {
    width: 10px;
    height: 7px;
}

.accordion li:focus .accordion-question p {
    color: var(--neutral-very-dark-grayish-blue);
    font-weight: 600;
}

.accordion li .accordion-answer {
    color: var(--neutral-dark-grayish-blue);
    padding: 5px 0px;
}

.accordion li .accordion-answer {
    display: none;
}

.accordion li:focus .accordion-answer {
    display: block;
}

.attribution {
    grid-area: footer;
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: var(--primay-dark-desaturated-blue);
}

@media(min-width: 1024px) {
    .content-faq_accordion_card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "images faq-form";
        grid-template-rows: 1fr;
    }

    .content-faq_accordion_images {
        grid-area: images;
        background:
            url("./images/illustration-woman-online-desktop.svg") -70px 60px/410px no-repeat,
            url("./images/bg-pattern-desktop.svg") -360px -145px/700px no-repeat;
    }

    .content-faq_accordion_images .illustration-box {
        background-image: url("./images/illustration-box-desktop.svg");
        background-size: contain;
        display: block;
        position: absolute;
        top: 38%;
        left: 5%;
        max-width: 120px;
        max-height: 120px;
        width: 100%;
        height: 100%;
    }

    .illustration-box-mobile {
        display: none;
    }
}

@media(max-width: 1024px) {
    .content-faq_accordion_card {
        margin-top: 22%;
    }

    .content-faq_accordion_images {
        grid-area: images;
        background:
            url("./images/bg-pattern-mobile.svg") 52% 0px/230px no-repeat;
        height: 115px;
    }

    .illustration-box-mobile {
        grid-area: images;
        margin-top: -100px;
        width: 230px;
        height: 180px;
    }

    .content-faq_accordion_form {
        align-items: center;
    }
}